<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
		<title th:text="${title}">Title</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!---- <link rel="stylesheet" th:href="@{/public/style.css}"/> ---->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>

		<nav th:fragment="navbar" lang="en" class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" href="/">Mockbook</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/profile/">My Profile</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li> 
					<li class="nav-item">
						<a class="nav-link" href="/login">Log In</a>
					</li> 
					<li class="nav-item">
						<a class="nav-link" href="/logout">Log Out</a>
					</li>
				</ul>
			</div>  
		</nav>

		<div th:fragment="thumbnails(photos)" lang="en" class="row">
			<div class="col-sm-3 p-3" th:each="photo : ${photos}">
				<a th:href="@{{id}/(id=${photo.id})}">
					<img class="img-thumbnail" th:src="@{/photos/{id}(id=${photo.id})}" />
				</a>
			</div>
		</div>

		<div th:fragment="commentsection(comments, activeProfile)" lang="en" >
			<div class="container-fluid">
				<!-- Post a comment -->
				<div class="row">
					<div class="col">
						<form class="form-group" th:action="@{comment}" th:object="${comment}" method="POST">
							<div class="formLabel">Post something:</div>
							<input class="form-control" type="text" name="content" th:field="*{content}" />
							<div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div></br>
							<input class="btn btn-primary" type="submit" value="Post">
						</form>	
					</div>
				</div>

				<!-- Posted comments -->
				<div class="row my-3" th:each="comment : ${comments}">
					<div th:replace="fragments/profileCards :: comment(${comment}, ${activeProfile})"></div>	
				</div>
			</div>
		</div>

    </body>
</html>