<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head"></div>
    <body>

        <h1>Hello world</h1>
		<ul th:each="user : ${users}">
			<li th:text="${user.username}"></li>
		</ul>
		<form action="/registration" method="post">
			<span class="formLabel">Username:</span><input type="text" name="username"><br>
			<span class="formLabel">Password:</span><input type="text" name="password"><br>
			<input type="submit" value="Register">
		</form>

    </body>
</html>
