<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head('Mockbook')"></div>
    <body>
		<div th:replace="fragments/layout :: navbar"></div>		
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Friend requests</h1>
					<!-- Friend requests -->
					<div th:each="request : ${friendRequests}">
							<div class="row">
								<!-- From -->
								<span class="pr-2"><a th:href="@{/profile/{from}(from=${request.from.profileName})}" th:text="${request.from.profileName}">Sent by</a></span>
								<!-- When -->
								<span><time th:text="${#dates.format(request.createdDate, 'dd.MM.yyyy HH:mm')}">time</time></span>
							</div>
							<div class ="row">
								<!-- Confirm reauest -->
								<div>
									<form class="form-group" th:action="@{/friends/{id}?accept=true(id=${request.id})}" method="POST">
										<input class="btn btn-primary" type="submit" value="Accept">
									</form>
									<form class="form-group" th:action="@{/friends/{id}?accept=false(id=${request.id})}" method="POST">
										<input class="btn btn-secondary" type="submit" value="Decline">
									</form>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
    </body>
</html>
