<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head(${title})"></div>
    <body>
		<div th:replace="fragments/layout :: navbar"></div>
		<div class="container">
			<div class="col-lg-6"></br>
				<h1>Log In</h1></br>
				<div th:if="${param.error}" class="alert alert-error">    
					Invalid username and password.
				</div>
				<div th:if="${param.logout}" class="alert alert-success"> 
						You have been logged out.
				</div>
				<form class="form-group" th:action="@{/login}" th:object="${account}" method="POST">
					<div class="formLabel">Username:</div>
					<input class="form-control" type="text" name="username" th:field="*{username}" /></br>
					<div class="formLabel">Password:</div>
					<input class="form-control" type="password" name="password"></br>
					<input class="btn btn-primary" type="submit" value="Log in">
				</form>	
			</div>
		</div>

    </body>
</html>
