<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head('Log In')"></div>
    <body>
		<div th:replace="fragments/layout :: navbar"></div>
		<div class="container">
			<div class="row p-3">
					<div class="col-lg-6">
						<h1>Log In</h1></br>
						<div th:if="${param.error}" class="text-danger">    
							<div>Invalid username or password.</div></br>
						</div>
						<div th:if="${param.logout}" class="text-success">
							<div>You have been logged out.</div></br>
						</div>
						<form class="form-group" th:action="@{/login}" th:object="${account}" method="POST">
							<div class="formLabel">Username:</div>
							<input class="form-control" type="text" name="username" th:field="*{username}" /></br>
							<div class="formLabel">Password:</div>
							<input class="form-control" type="password" name="password"></br>
							<input class="btn btn-primary" type="submit" value="Log in">
						</form>	
					</div>
			</div>
		</div>

    </body>
</html>
