<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head(${title})"></div>
		
		<body>
		<div th:replace="fragments/layout :: navbar"></div>	

		<!-- Profile -->
		<div class="container">
			<div class="col-sm-3">
				<h1 th:text="${profile.profileName}">Profile Name</h1>
                <h2 th:text="${profile.firstName + ' ' + profile.lastName}"></h2>
                <!-- insert profile photo -->
			</div>
		</div>

		<!-- Wall -->
		<div class="container">
		<!-- Friend request -->
		<div class="container">
				<div class="col-sm"></br>
					<h1>Sign Up</h1></br>
					<form class="form-group" th:action="@{/profile/${profile}/friendrequest" th:object="${friendRequest}" method="POST">
						<input class="btn btn-primary" type="submit" value="Send a friend request!">
					</form>	
				</div>
			</div>
			<!-- Post a comment -->
			<div class="container">
					<div class="col-sm"></br>
						<h1>Sign Up</h1></br>
						<form class="form-group" th:action="@{/profile/${profile}/comment" th:object="${comment}" method="POST">
							<div class="formLabel">Post something on this wall:</div>
							<input class="form-control" type="text" name="content" th:field="*{content}" />
							<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div></br>
							<input class="btn btn-primary" type="submit" value="Send">
						</form>	
					</div>
				</div>
			<!-- Posted comments -->
			<div class="row" th:each="comment : ${profile.comments}">
				<div class="col-sm">
					<a href="${comment.from}"></a><time th:text="${#dates.formatISO(${comment.createdDate})}"></time>
					<p th:text="${comment.content}"></p>
				</div>
			</div>
				
			</div>
		</div>
    </body>
</html>
