<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/layout :: head('Profile settings')"></div>
    <body>
		<div th:replace="fragments/layout :: navbar"></div>
		<div class="container"></br>
			<h1>Profile settings</h1></br>
			<form class="form-group" th:action="@{/settings}" th:object="${profile}" method="POST">
				<!-- Profile id -->
				<input type="hidden" th:field="*{id}"/>
				<!-- Profile name -->
				<span class="formLabel">Profile name:</span>
				<input class="form-control"  type="text" aria-describedby="profileNameHelp" name="profileName" th:field="*{profileName}">
				<small id="profileNameHelp" class="form-text text-muted">Can be changed later.</small>
				<div th:if="${#fields.hasErrors('profileName')}" th:errors="*{profileName}" class="text-danger"></div></br>
				<!-- First name -->
				<span class="formLabel">First name:</span><input class="form-control"  type="text" name="firstName" th:field="*{firstName}"></br>
				<!-- Last name -->
				<span class="formLabel">Last name:</span><input class="form-control"  type="text" name="lastName" th:field="*{lastName}"></br>
				<!-- Submit -->
				<input class="btn btn-primary" type="submit" value="Save">
				<!-- Profile image -->
				<!-- <input type="hidden" th:field="*{profileImage}"/> -->
			</form>
		</div>
    </body>
</html>